html, body {
  margin: 0;
  min-width: 1024px;
  font-family: Arial, Helvetica, sans-serif;
}

.main_section {
  margin-top: 16px;
}

.container {
  margin: 0 6vw;
  position: relative;
}

.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 156px);
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-top: 20px;
}

.calendar_week {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.calendar_week:nth-child(1) .calendar_day:nth-child(1):before {
  content: 'Понедельник, ';
}

.calendar_week:nth-child(1) .calendar_day:nth-child(2):before {
  content: 'Вторник, ';
}

.calendar_week:nth-child(1) .calendar_day:nth-child(3):before {
  content: 'Среда, ';
}

.calendar_week:nth-child(1) .calendar_day:nth-child(4):before {
  content: 'Четверг, ';
}

.calendar_week:nth-child(1) .calendar_day:nth-child(5):before {
  content: 'Пятница, ';
}

.calendar_week:nth-child(1) .calendar_day:nth-child(6):before {
  content: 'Суббота, ';
}

.calendar_week:nth-child(1) .calendar_day:nth-child(7):before {
  content: 'Воскресенье, ';
}

.calendar_week:nth-child(1) .calendar_day {
  border-top: 0;
}

.calendar_day {
  flex-grow: 1;
  color: #5d5d5d;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 8px;
  min-width: 110px;
  font-size: 14px;
}

.calendar_day:first-child {
  border-left: 0;
}

.calendar_day.now_day {
  color: #000;
  background: #f4f4f4;
  font-weight: bold;
}

.calendar_day.selected {
  background: #e7eef3;
}

.calendar_day.prev, .calendar_day.next {

}

.controls {
  display: flex;
  align-items: center;
}

.controls_buttons_wrapper {
  display: flex;
  align-items: center;
}

.calendar_control {
  padding: 0 7px;
  width: 140px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  font-size: 19px;
}

.controls .control_button {
  border: 1px solid #e0e0e0;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 7px;
  line-height: 20px;
  text-align: center;
  color: #777;
  box-shadow: inset 0 0 9px -2px #a7a4a4;
}

.today_button {
  margin-left: 15px;
}

header {
  background: #f4f4f4;
  height: 90px;
  box-shadow: 0 0 10px 1px #a7a4a4;
}


header > .container {
  height: 100%;
}

header .header_buttons {
  position: absolute;
  bottom: 15px;
  left: 0;
}

.main_button {
  background: #396eca;
  color: #fff;
  font-size: 13px;
  border: 0;
  line-height: 24px;
  padding: 0 12px;
  border-radius: 2px;
  text-shadow: 0 1px 1px #616161;
  cursor: pointer;
  margin-left: 5px;
}

.main_button:first-child {
  margin-left: 0;
}


.main_button:disabled {
  background: #e0e0e0;
  cursor: default;
  text-shadow: none;
}

.header_search {
  position: absolute;
  bottom: 15px;
  right: 0;
}

.header_search i {
  font-size: 13px;
  margin-right: 7px;
  color: #a7a7a7;
}

.header_search input {
  border: 0;
  background: transparent;
  box-shadow: inset 0 1px 4px 0px #a7a4a4;
  border-radius: 2px;
  margin: 0;
  line-height: 25px;
  padding: 0 6px;
  width: 210px;
}
